<body>
  <form action='/' method='POST'>
    <p>
      Your Idea:
    </p>
    <input type='text' name='idea[title]' placeholder="Title"/><br/>
    <textarea name='idea[description]' placeholder="Description"></textarea><br/>
    <input type='text' name='idea[tags]' placeholder="Tags separated by commas"/><br/>
    <input class='submit_btn' type='submit'/>
  </form>
  <h3>Existing Ideas</h3>
  <form action="/weekday" method="GET">
    <input class='btn' type="submit" value="Show ideas by day of week"/>
  </form>
  <form action="/hours" method="GET">
    <input class='btn' type="submit" value="Show ideas by time of day"/>
  </form>
  <form action="/sort" method="POST">
    <input class='btn' type="submit" value="Sort by all tags"/>
  </form>
  <form action="/sort_by_tag" method="GET">
    <input type='text' name='tag' placeholder="Tag to search"/><br/>
    <input class='btn' type="submit" value="Sort by specific tag"/>
  </form>
    <%= partial :'partials/idea', collection: ideas%>
</body>
